node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.*.local
.env.development
.next
out
.DS_Store
*.pem
.vercel
dist
build
.turbo
coverage
.eslintcache
.idea
.vscode
*.swp
*.swo
*~
.yarn/cache
.yarn/install-state.gz
